<!DOCTYPE html>

<html>
    <head>
        <title>Homepage</title>
        
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>
    <style>
        .head{
            background-color: beige;
        }
        body{
            font-family: Comfortaa;
            background-color: yellowgreen;
        }

        .query{
            background-color: rgb(238, 160, 132);
        }
    </style>
    <body>
        <div class="body">
            <div class="head">
                <h1>Covid-19 Risk Factors &#129298;</h1>
                <h2>Kaggle Task 2: What do we know about COVID-19 Risk Factors? &#129440;</h2>
            </div>
            <div id="divide"> </div>
            <form class="query" action="/results" name="search" method="POST">
                <fieldset>
                    <legend>Search</legend>
                    <dl>
                    
                            What do we know about potential risk factors: <input list="symptoms" name="symptom">
                            <datalist id="symptoms">
                                <option value="None">
                                <option value="Asthma">
                                <option value="Cancer">
                                <option value="Smoker/Pulmonary Disease">
                                <option value="Respiratory">
                                <option value="Pregnancy">
                               
                                </datalist> 
                            <br><br>

                            How susceptible are populations: <input list="race" name="race">
                            <datalist id="race">
                                <option value="None">
                                    <option value="White">
                                    <option value="African American">
                                    <option value="Hispanic">
                                    <option value="Asian">
                                    
                            </datalist>
                            
                      
                        <p>Choose Topic</p>
                        <dd> 
                            <input type="checkbox" id="topic1" value="Death Rates">
                            <label for="topic1">Death Rates</label><br>
                            <input type="checkbox" id="topic2" value="Government">
                            <label for="topic1">Government</label><br>
                        </dd>
                        <dd>
                            <input type="submit" value="submit">
                            <input type="reset">
                        </dd>
                    </dl>
                </fieldset>
               
 
                
                
            </form>
        </div>
        
    </body>
</html>