<!DOCTYPE html>

<html>
    <head>
        <title>Homepage</title>
        <link  rel = "stylesheet" type="text/css" href="/Users/jasmynejeanremy/Desktop/COVID_19-Kaggle_Task_2/static/styles/styles.css" >
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>
    <style>
        body{
            font-family: Comfortaa;
        }
    </style>
    <body>
        <div class="body">
            <div class="head">
                <h1>Covid-19 Risk Factors &#129298;</h1>
                <h2>Kaggle Task 2: What do we know about COVID-19 Risk Factors? &#129440;</h2>
            </div>
            <div id="divide"> </div>
            <form class="query" action="/results.html" name="search" method="POST">
                <fieldset>
                    <legend>Search</legend>
                    <dl>
                        <p>Free Search</p>
                        <dd>
                            <textarea name="freesearch" rows="4" cols="100"></textarea>
                        </dd>
    
                        
                           <p>What do we know about potential Risk Factors:</p> <input list="symptoms" name="symptom">
                            <datalist id="symptoms">
                                <option value="None">
                                <option value="Asthma">
                                <option value="Cancer">
                                <option value="Smoker/Pulmonary Disease">
                                <option value="Respiratory">
                                <option value="Pregnancy">
                               
                            </datalist>
                      
                        <p>Search by Pre-Made questions</p>
                        <dd>
                            
                            <input list="questions" name="set">
                            <datalist id="questions">
                                <option value="None">
                                    <option value="What demographics are most effected?">
                                    <option value="How severe is Covid-19?">
                                    <option value="Fatality in high-risk groups">
                                    <option value="What demographics are more likely to contract Covid-19">
                                    
                            </datalist>
                        </dd>
                        <p>Choose Topic</p>
                        <dd> 
                            <input type="checkbox" id="topic1" value="Death Rates">
                            <label for="topic1">Death Rates</label><br>
                            <input type="checkbox" id="topic2" value="Government">
                            <label for="topic1">Government</label><br>
                        </dd>
                        <dd>
                            <input type="submit" value="submit">
                            <input type="reset">
                        </dd>
                    </dl>
                </fieldset>
               
 
                
                
            </form>
        </div>
        
    </body>
</html>