body{
    background-color: lightgreen;
    font-family: 'Comfortaa';
}

.head{
    background-color: beige;
    width: 400px;
    margin: auto;
    padding: 10pX;
}

.query{
    font-size: 20px;
    background-color: coral;
    padding: 10px;
}

.sec_query{
    background-color: coral;
}

.body{
    border-style: solid;
    border-width: 5px;
    border-color: white;
    padding: 10px;
}
#divide{
    background-color:lightgreen;
    height: 40px;
}